<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hackathon.accelerator">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/app_icon"
        android:label="Haricot.AI"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name="com.hackathon.accelerator.activity.ResultActivity" />
        <activity android:name="com.hackathon.accelerator.activity.ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hackathon.accelerator.activity.ImageCaptureActivity" />
        <activity android:name="com.hackathon.accelerator.activity.ChatActivity" />
    </application>
</manifest>